<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>Yanone</string>
	<key>developerURL</key>
	<string>https://yanone.de</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>SpeedPunkTool.py</string>
	<key>name</key>
	<string>SpeedPunk</string>
	<key>requiresVersionMajor</key>
	<string>3</string>
	<key>requiresVersionMinor</key>
	<string>1</string>
	<key>timeStamp</key>
	<real>1577127173.541112</real>
	<key>version</key>
	<string>1.131</string>
</dict>
</plist>
