// common

MARKETING_VERSION = 1.3
CURRENT_PROJECT_VERSION = 18

HUMAN_READABLE_COPYRIGHT = © 2023 Yanone

PRODUCT_BUNDLE_IDENTIFIER = de.Yanone.${PRODUCT_NAME:rfc1034identifier}

INFOPLIST_FILE = $(TARGET_NAME)/$(TARGET_NAME)-Info.plist

GCC_PREFIX_HEADER = $(SRCROOT)/SpeedPunk/SpeedPunk-Prefix.pch

PRODUCT_NAME = $(TARGET_NAME);

ARCHS = $(ARCHS_STANDARD)

CLANG_ENABLE_OBJC_ARC = YES

CLANG_ENABLE_MODULES = YES

COMBINE_HIDPI_IMAGES = YES

OTHER_CODE_SIGN_FLAGS = -o kill

GCC_PRECOMPILE_PREFIX_HEADER = YES

MACOSX_DEPLOYMENT_TARGET = 10.11
SDKROOT = macosx
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
CLANG_CXX_LANGUAGE_STANDARD = c++14
GCC_WARN_UNUSED_VARIABLE = YES

DEPLOYMENT_POSTPROCESSING = YES

CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_NONNULL = YES
CLANG_STATIC_ANALYZER_MODE = deep

CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN_EMPTY_BODY = YES;
GCC_WARN_64_TO_32_BIT_CONVERSION = YES;

GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNUSED_FUNCTION = YES
INSTALL_PATH = @rpath
SKIP_INSTALL = YES
COPY_PHASE_STRIP = NO
LLVM_LTO = YES
GCC_NO_COMMON_BLOCKS = YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES;
CLANG_ENABLE_OBJC_WEAK = NO;
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES;

IBC_WARNINGS = NO
IBC_NOTICES = NO

CLANG_MODULES_AUTOLINK = NO

ALWAYS_SEARCH_USER_PATHS = NO

STRINGS_FILE_OUTPUT_ENCODING = UTF-8

ENABLE_NS_ASSERTIONS = NO

CLANG_WARN__DUPLICATE_METHOD_MATCH = YES;
GCC_WARN_UNINITIALIZED_AUTOS = YES;

CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = NO;

DEAD_CODE_STRIPPING = YES
